<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit user</title>
</head>
<body>
    <h3>User email credentials : <%= data.email %></h3>
    <form method= "post" action="/user/<%=data.id%>?_method=PATCH">
        <textarea rows="10" cols="10" name="username"><%=data.username%></textarea> <br>
        <input type="password" placeholder="password" name="password"/> 
        <button>Submit</button>
    </form>
</body>
</html>